* {
    box-sizing: border-box;
    
}

#container {
    
    width: 40vw;
    
    margin: auto;
    
    
}

#total-container {
    width: 40vw;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    
    border: .2em solid black;
}

.total, .total-ongoing {
    margin-right: 1em;
}



#keypad-container {
    
    max-width: 40vw;
    
    border: .2em solid black;
    
    
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: .2em;
}

.keypad {
    line-height: 8vh;
    font-size: 1.5em;
    border: 1px solid blue;
    text-align: center;
    background: red;
    color: white;
}

p {
    margin: .2em;
}

.keypad:hover {
    cursor: pointer;
}

